<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/logo-300.png" alt="Office"></a>      
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul id="nav-ul" class="nav navbar-nav pull-right">
      <li id="nav-home" class="active nav-li">
        <a href="/">主页</a>
      </li>
      <li id="nav-about" class="nav-li">
        <a href="/about.html">关于我们</a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->